<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>From : {{emailData.from.name}}</mat-card-title>
    <mat-card-subtitle>To : {{emailData.to.name}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Subject : {{emailData.subject}}</p>
    <p>
      {{emailData.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>REPLY</button>
    <button mat-button>FORWARD</button>
    <button mat-button *ngIf="emailData.type !== 'Deleted'" (click)="deleteMail(emailData.id)">DELETE</button>
  </mat-card-actions>
</mat-card>
