<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav>
    <mat-list (click)="sidenav.close()">
      <mat-list-item [routerLink]="['/inbox']"> INBOX</mat-list-item>
      <mat-list-item [routerLink]="['/sent']"> SENT</mat-list-item>
      <mat-list-item [routerLink]="['/deleted']"> DELETED</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar>
        <button mat-button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        Your Emailer
        <span fxFlex></span>
        <button mat-raised-button [routerLink]="['/', { outlets: {'composeModal':['compose']}}]">Compose</button>
      </mat-toolbar>
    </header>
    <main class="content">
      <router-outlet></router-outlet>
      <router-outlet name="composeModal"></router-outlet>
    </main>
    <footer>
    </footer>
  </div>
</mat-sidenav-container>
