.composeFormCard {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
}

.composeFormCard > * {
  width: 100%;
}

.composeCard{
  margin-left: 20%;
  margin-right: 20%;
}
