<div class="composeCard">
  <h1>New Message</h1>
  <form [formGroup]="formdata" (ngSubmit)="sendEmail(formdata.value)" class="composeFormCard">
    <mat-form-field>
      <input matInput placeholder="From" formControlName="from">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="To" formControlName="to">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Subject" formControlName="subject">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Content" formControlName="content"></textarea>
    </mat-form-field>
    <button mat-raised-button type="submit">SEND</button>
  </form>
</div>
